<ng-container *ngIf="!isDisplayChalan">
    <h2 mat-dialog-title>PDF Preview</h2>
    <mat-card class="cardWithShadow">
        <mat-card-content class="p-24">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field appearance="outline" class="w-100 m-t-10">
                                <mat-label>Chalan No</mat-label>
                                <input type="number" matInput [value]="data?.payload?.chalanForm?.product[0]?.chalanNo"
                                    placeholder="Enter party order" disabled style="font-weight: bold;color: #0f0f0f;">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field appearance="outline" class="w-100 m-t-10">
                                <mat-label>Date</mat-label>
                                <input matInput type="date"
                                    [value]="convertTimestampToDate(data.payload.chalanForm?.date)"
                                    placeholder="Enter party order" disabled style="font-weight: bold;color: #0f0f0f;">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field appearance="outline" class="w-100 m-t-10">
                                <mat-label>PO No</mat-label>
                                <input type="number" matInput [value]="data.payload?.partyOrder"
                                    placeholder="Enter party order" disabled style="font-weight: bold;color: #0f0f0f;">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="outline" class="w-100 m-t-5">
                                <mat-label>Name</mat-label>
                                <input type="text" matInput
                                    [value]="data.payload?.firmDetails?.header + ' ' + data.payload?.firmDetails?.subHeader"
                                    placeholder="Enter party order" disabled style="font-weight: bold;color: #0f0f0f;">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="outline" class="w-100 m-t-5">
                                <mat-label>Moblie Number</mat-label>
                                <input type="number" matInput [value]="data.payload?.firmDetails?.mobileNO"
                                    placeholder="Enter party order" disabled style="font-weight: bold;color: #0f0f0f;">
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="outline" class="w-100 m-t-5">
                                <mat-label>Address</mat-label>
                                <input type="text" matInput [value]="data.payload?.firmDetails?.address"
                                    placeholder="Enter party order" disabled style="font-weight: bold;color: #0f0f0f;">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="outline" class="w-100 m-t-5">
                                <mat-label>Name</mat-label>
                                <input type="text" matInput
                                    [value]="data.payload?.partyDetails?.firstName + ' ' + data.payload?.partyDetails?.lastName "
                                    placeholder="Enter party order" disabled style="font-weight: bold;color: #0f0f0f;">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="outline" class="w-100 m-t-5">
                                <mat-label>Moblie Number</mat-label>
                                <input type="text" matInput [value]="data.payload?.partyDetails?.partyMobile"
                                    placeholder="Enter party order" disabled style="font-weight: bold;color: #0f0f0f;">
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="outline" class="w-100 m-t-5">
                                <mat-label>Address</mat-label>
                                <input type="text" matInput [value]="data.payload?.partyDetails?.partyAddress"
                                    placeholder="Enter party order" disabled style="font-weight: bold;color: #0f0f0f;">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right m-t-10">
                <div class="table-responsive showTable">
                    <table class="table table-hover b-1 no-wrap w-100 rounded">
                        <thead>
                            <tr>
                                <th class="text-center">Sr.</th>
                                <th class="text-center">Particulars</th>
                                <th class="text-center">Pcs./Mts.</th>
                                <th class="text-center">Rate</th>
                                <th class="p-16 text-center">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data.payload?.chalanForm?.product; let i = index">
                                <td class="text-center">{{ i + 1 }}</td>
                                <td class="text-center">{{ item.productName }}</td>
                                <td class="text-center">{{ item.quantity }}</td>
                                <td class="text-center">{{ item.productPrice }}</td>
                                <td class="text-center">{{ item.totalAmount }}</td>
                            </tr>
                            <tr class="fw-bold">
                                <td colspan="4" class="text-end" style="font-weight: bold;">
                                    Sub Total:
                                </td>
                                <td class="text-center" style="font-weight: bold;">
                                    {{ getSubTotal() | number: '1.2-2' }}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="text-right m-t-10">
                <div class="table-responsive showTable">
                    <table class="table table-hover b-1 no-wrap w-100 rounded">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3">
                                        <th class="text-center">GST</th>
                                    </div>
                                    <div class="col-9">
                                        <th class="text-center">{{ data.payload?.firmDetails?.GSTNo}}</th>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3">
                                        <th class="text-center">In Word</th>
                                    </div>
                                    <div class="col-9">
                                        <th class="text-center">{{ convertNumberToWords(getSubTotal()) }}</th>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</ng-container>


<mat-dialog-content *ngIf="isDisplayChalan" class="mat-typography">
    <div class="m-y-30">
        <ngx-extended-pdf-viewer [src]="pdfSrc" [showToolbar]="true"></ngx-extended-pdf-viewer>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <div *ngIf="!isDisplayChalan">
        <button (click)="submitData()" mat-flat-button color="primary">
            Generate Chalan
        </button>
    </div >
    <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>