<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div style="align-items: baseline;" class="row">

            <div class="col-3">
                <mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle>
                <span *ngIf="!isChecked">Progress</span>
                <span *ngIf="isChecked">Done</span>
            </div>

            <div class="col-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Select Date</mat-label>
                    <mat-date-range-input [rangePicker]="picker" [formGroup]="dateOrderListForm">
                        <input matStartDate placeholder="Start date" formControlName="start">
                        <input matEndDate placeholder="End date" formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Select Party</mat-label>
                    <mat-select #dropdown placeholder="Select party">
                        <mat-option [value]="item.id" *ngFor="let item of khataList">{{ item.companyName }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-3">
                <div class="d-flex align-items-center justify-content-end">
                    <button mat-flat-button color="primary" (click)="transferOrder('Add', {})">
                        Transfer Order
                    </button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div class="table-responsive">
            <table mat-table [dataSource]="orderDataSource" class="w-100">

                <ng-container matColumnDef="srNo">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Sr No</th>
                    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                </ng-container>

                <ng-container matColumnDef="partyName">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Party Name
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ getPartyName(element.party) }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="khataName">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Khata Name
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ getKhataName(element.khata) }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="partyOrder">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Party Order
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ getOrderNo(element.order) }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="itemName">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Item Name
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        <ng-container *ngFor="let product of element.productsOrder">
                            {{ product.productName }}
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Price
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        <ng-container *ngFor="let product of element.productsOrder">
                            {{ product.productPrice }}
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Quantity
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        <ng-container *ngFor="let product of element.productsOrder">
                            {{ product.productQuantity }}
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Total
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        <ng-container *ngFor="let product of element.productsOrder">
                            {{ product.productPrice * product.productQuantity }}
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Status
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.status }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                        <a class="m-r-10 cursor-pointer"><i-tabler name="edit" (click)="transferOrder('Edit', element)"
                                class="icon-18"></i-tabler></a>
                        <a class="m-r-10 cursor-pointer">
                            <i-tabler name="trash" (click)="transferOrder('Delete', element)"
                                class="icon-18"></i-tabler>
                        </a>
                        <a class="m-r-10 cursor-pointer">
                            <button class="done-button">Done</button>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="orderDataColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: orderDataColumns"></tr>
                <tr class="mat-row" style="text-align: center;" *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="orderDataColumns.length">
                        No record found
                    </td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>