<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div style="align-items: baseline;" class="row">
            <div class="col-3">
                <mat-slide-toggle>Progress</mat-slide-toggle>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Enter a date</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select #dropdown placeholder="Enter a party">
                        <mat-option value="ABC">ABC</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-3">
                <div class="d-flex align-items-center justify-content-end">
                    <button mat-flat-button color="primary" (click)="transferOrder('Add', {})">
                        Transfer Order
                    </button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div class="table-responsive">
            <table mat-table [dataSource]="orderDataSource" class="w-100">
                <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">#</th>
                    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                </ng-container>

                <ng-container matColumnDef="selectparty">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Select party
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.party }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="selectorder">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Select order
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.order }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="selectkhata">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Select khata
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.khata }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="selectdate">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Select date
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.date | date : "mediumDate" }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                        <a class="m-r-10 cursor-pointer"><i-tabler name="edit" (click)="transferOrder('Edit', element)"
                                class="icon-18"></i-tabler></a>
                        <a class="m-r-10 cursor-pointer">
                            <i-tabler name="trash" (click)="transferOrder('Delete', element)"
                                class="icon-18"></i-tabler>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="orderColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: orderColumns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>