<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div class="row justify-content-between">

            <div class="col-lg-4">
                <mat-form-field appearance="outline" class="w-100 hide-hint">
                    <mat-label>Search Khatu</mat-label>
                    <input matInput placeholder="Search khatu">
                    <mat-icon matSuffix>
                        <i-tabler name="search" class="icon-20"></i-tabler>
                    </mat-icon>
                </mat-form-field>
            </div>

            <div class="col-lg-4 d-flex align-items-center justify-content-end">
                <button mat-flat-button color="primary" (click)="addkhatu('Add', {})">
                    Add Khatu
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div class="table-responsive">
            <table mat-table [dataSource]="khataListDataSource" class="w-100">

                <ng-container matColumnDef="srNo">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Sr No</th>
                    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                </ng-container>

                <ng-container matColumnDef="companyName">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Company Name
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.companyName }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="ownerName">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Owner Name
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.ownerName }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Address
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.address }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="gstNo">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        GST No
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.gst }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="panNo">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        PAN No
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.pan }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="mobileNo">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Mobile No
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.mobileNo }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                        <a class="m-r-10 cursor-pointer">
                            <i-tabler name="edit" (click)="addkhatu('Edit', element)" class="icon-18"></i-tabler></a>
                        <a class="m-r-10 cursor-pointer">
                            <i-tabler name="trash" (click)="addkhatu('Delete', element)" class="icon-18"></i-tabler>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="khataMasterDataColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: khataMasterDataColumns"></tr>
                <tr class="mat-row" style="text-align: center;" *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="khataMasterDataColumns.length">
                        No record found
                    </td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>