.cardWithShadow {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 24px;

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: -12px;

        &.justify-content-between {
            justify-content: space-between;
        }
    }

    [class^="col-"] {
        padding: 12px;
        box-sizing: border-box;
    }

    .col-lg-4 {
        flex: 0 0 100%;
        max-width: 100%;

        @media (min-width: 992px) {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
    }

    .margintop {
        margin-top: 13px;

        @media (min-width: 992px) {
            margin-top: 0;
        }
    }

    @media (max-width: 767px) {
        .col-lg-4 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        button[mat-flat-button] {
            width: 100%;
        }
    }
}
button .icon-20 {
    margin-left: 6px;
    vertical-align: middle;
}