<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3">
        <mat-form-field appearance="outline" class="w-100 m-t-10 hide-hint">
          <mat-label>Chalan</mat-label>
          <input matInput placeholder="Search chalan" (keyup)="applyFilter($any($event.target).value)">
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-md-3">
        <mat-form-field appearance="outline" class="w-100 m-t-10 hide-hint">
          <mat-label>Select Firm</mat-label>
          <mat-select #dropdown placeholder="Select firm">
            <mat-option [value]="item.id" *ngFor="let item of firmList">{{item.header}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-md-3">
        <mat-form-field appearance="outline" class="w-100 m-t-10 hide-hint">
          <mat-label>Select Party</mat-label>
          <mat-select #dropdown placeholder="Select party">
            <mat-option [value]="item.id" *ngFor="let item of partyList">{{item.firstName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-md-3">
        <div class="d-flex m-t-15 hide-hint align-items-center justify-content-end marginTop">
          <button mat-flat-button class="w-100" color="primary" routerLink="/master/chalan">
            Add Chalan
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="chalanListDataSource" class="w-100 m-t-10">
        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Sr No</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="partyName">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
          Party Name
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ getPartyName(element.partyId) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="partyOrder">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
          Party Order
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ getOrderNo(element.partyOrderId) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="chalanNo">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Chalan No
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.chalanNo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="chalanDate">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Chalan Date
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ convertTimestampToDate(element.chalanDate) | date : "mediumDate" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="netAmount">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Net Amount
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.netAmount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Action
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a [matMenuTriggerFor]="menu">
              <i-tabler name="dots-vertical" class="icon-18"></i-tabler>
            </a>
            <mat-menu #menu="matMenu">
              <ng-container>
                <div class="menu-item" (click)="downloadPDF(element)">
                  <div class="d-flex">
                    <div>
                      <i-tabler name="download" class="icon-18"></i-tabler>
                    </div>
                    <div>
                      <span class="m-l-10">Download</span>
                    </div>
                  </div>
                </div>
                <div class="menu-item" (click)="getProductList('Product List', element)">
                  <div class="d-flex">
                    <div>
                      <i-tabler name="eye" class="icon-18"></i-tabler>
                    </div>
                    <div>
                      <span class="m-l-10">Product View</span>
                    </div>
                  </div>
                </div>
                <div class="menu-item" (click)="deleteChalan('Delete', element)">
                  <div class="d-flex">
                    <div>
                      <i-tabler name="trash" class="icon-18"></i-tabler>
                    </div>
                    <div>
                      <span class="m-l-10">Delete</span>
                    </div>
                  </div>
                </div>
              </ng-container>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="chalanListColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: chalanListColumns"></tr>
        <tr class="mat-row" style="text-align: center;" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="chalanListColumns.length">
            No record found
          </td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>