<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div style="align-items: baseline;" class="row">

      <div class="col-4">
        <label>VEDANT CREATION</label>
      </div>

      <div class="col-4">
        <label>Remaining Balance:-
          <span>1760</span>
        </label>
      </div>

      <div class="col-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Party</mat-label>
          <mat-select #dropdown placeholder="Select party">
            <mat-option *ngFor="let item of companyAccountList" [value]="item.accountName">{{ item.accountName }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="passbookListDataSource" class="w-100">

        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Sr No</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="passbook">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Passbook
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.passbook }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Name
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Date
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.date | date : "mediumDate" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="debit">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Debit
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.debit }}
          </td>
        </ng-container>

        <ng-container matColumnDef="credit">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Credit
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.credit }}
          </td>
        </ng-container>

        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Balance
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.balance }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="passbookDataColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: passbookDataColumns"></tr>
        <tr class="mat-row" style="text-align: center;" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="passbookDataColumns.length">
            No record found
          </td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>