<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
            <div style="align-items: baseline;" class="row">
                    <div class="col-3">
                        <label>VEDANT CREATION</label>
                    </div>
                    <div class="col-4">
                    <label>Remaining Balance:- 
                        <span>1760</span>
                    </label>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Party</mat-label>
                              <mat-select #dropdown placeholder="Select party">
                                  <mat-option value="ABC">ABC</mat-option>
                              </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-1">
                        <a class="m-r-10 cursor-pointer"><i-tabler name="file-download" 
                            class="icon-18"></i-tabler></a>
                    </div>
            </div>
    </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <div class="table-responsive" *ngIf="Passbook && Passbook.length > 0; else noRecordsTemplate">
        <table mat-table [dataSource]="dataSource" class="w-100">
          <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Sr No</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
          </ng-container>
  
          <ng-container matColumnDef="passbook">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                Passbook
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              {{ element.passbook }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                Name
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              {{ element.name }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Date
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              {{ element.date | date : "mediumDate" }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="debit">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                Debit
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              {{ element.debit }}
            </td>
          </ng-container>

          <ng-container matColumnDef="credit">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                Credit
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              {{ element.credit }}
            </td>
          </ng-container>
          <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                Balance
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              {{ element.balance }}
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
      <ng-template #noRecordsTemplate>
        <div class="no-records text-center">
            <span>
                No Records Found
            </span>
        </div>
    </ng-template>
    </mat-card-content>
  </mat-card>