<h2 mat-dialog-title class="m-b-24 b-b-1 p-b-20">{{action}} </h2>
<mat-dialog-content class="mat-typography" style="max-width: 750px" *ngIf="action !== 'Delete'; else elseTemplate">
    <form [formGroup]="paymentList">
        <div class="row align-items-baseline">
            <div class="col-4">
                <mat-form-field appearance="outline" class="w-100 m-t-10 hide-hint">
                    <mat-label>Payment Receive</mat-label>
                    <input type="number" formControlName="paymentReceive" matInput placeholder="Payment receive">
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Payment Date</mat-label>
                    <input matInput formControlName="paymentDate" [matDatepicker]="Date" placeholder="Enter payment date">
                    <mat-datepicker-toggle matSuffix [for]="Date"></mat-datepicker-toggle>
                    <mat-datepicker #Date></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-4">
                <button mat-flat-button (click)="addPaymentData()" [mat-dialog-close]="true" color="primary">Add Payment</button>
            </div>
        </div>
    </form>
    <mat-card class="cardWithShadow">
        <mat-card-content class="p-24">
            <div class="table-responsive">
                <table mat-table [dataSource]="paymentListDataSource" class="w-100">
                    <ng-container matColumnDef="srNo">
                        <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Sr No.</th>
                        <td mat-cell *matCellDef="let element; let i = index" class="f-s-14">{{ i + 1 }}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="productPrice">
                        <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Receive Amount</th>
                        <td mat-cell *matCellDef="let element" class="f-s-14">{{element.productPrice}}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="totalAmount">
                        <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Payment Date</th>
                        <td mat-cell *matCellDef="let element" class="f-s-14">{{element.productQuantity}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element" class="action-link">
                            <a class="m-r-10 cursor-pointer"><i-tabler name="edit" class="icon-18"></i-tabler>
                            </a>
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions class="p-24 justify-content-end">
    <button mat-stroked-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-flat-button [mat-dialog-close]="true" *ngIf="action !== 'Add Payment'" color="primary">
        {{action}}
    </button>
</mat-dialog-actions>
<ng-template #elseTemplate>
    <div class="p-x-24">
        <p>Sure to delete <span class="f-w-600"></span> ?</p>
    </div>
    <mat-divider></mat-divider>
</ng-template>