<h2 mat-dialog-title class="m-b-24">{{action}} Employee</h2>
<mat-dialog-content class="mat-typography" style="max-width: 600px" *ngIf="action !== 'Delete'; else elseTemplate">
  <form [formGroup]="employeeForm">
    <mat-form-field appearance="outline" class="w-100 m-t-10">
      <mat-label>Enter First Name</mat-label>
      <input type="text" matInput required placeholder="Enter first name" formControlName="firstName" />
      <mat-hint *ngIf="employeeForm.get('firstName')?.hasError('required') && employeeForm.get('firstName')?.touched"
        class="error-message error-color">
        First name is required
      </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 m-t-10">
      <mat-label>Enter Last Name</mat-label>
      <input type="text" matInput placeholder="Enter last name" formControlName="lastName" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 m-t-10">
      <mat-label>Enter Salary</mat-label>
      <input type="number" matInput required placeholder="Enter salary" formControlName="salary" />
      <mat-hint *ngIf="employeeForm.get('salary')?.hasError('required') && employeeForm.get('salary')?.touched"
        class="error-message error-color">
        Salary is required
      </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 m-t-10">
      <mat-label>Enter Mobile No</mat-label>
      <input type="number" onKeyPress="if(this.value.length==10) return false;" matInput placeholder="Enter mobile no"
        formControlName="mobileNo" />
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-dialog-actions class="p-24">
      <button mat-stroked-button color="warn" mat-dialog-close>Cancel</button>
      <button mat-flat-button [mat-dialog-close]="true" [disabled]="" color="primary" (click)="doAction();">
        {{action}}
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
<ng-template #elseTemplate>
  <div class="p-x-24">
    <p>Sure to delete <span class="f-w-600">{{local_data.Name}}</span> ?</p>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions class="p-x-24 p-b-24 m-t-10 justify-content-end">
    <button mat-button (click)="doAction()" mat-flat-button color="warn">
      {{action}}
    </button>
    <button mat-stroked-button color="warn" (click)="closeDialog()" class="m-l-8">Cancel</button>
  </div>
</ng-template>