<h2 mat-dialog-title class="m-b-24 b-b-1 p-b-20"><strong>{{action}} Chalan</strong></h2>
<mat-dialog-content class="mat-typography" style="max-width: 800px">
    <form [formGroup]="chalanForm">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10 hide-hint">
                    <mat-label>Select Firm</mat-label>
                    <mat-select #dropdown formControlName="firmId" placeholder="Select firm">
                        <mat-option [value]="item.id" *ngFor="let item of firmList">{{item.header}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10 hide-hint">
                    <mat-label>Select Party</mat-label>
                    <mat-select #dropdown formControlName="partyId" placeholder="Select party">
                        <mat-option [value]="item.id" *ngFor="let item of partyList">{{item.firstName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10 hide-hint">
                    <mat-label>Party Order</mat-label>
                    <mat-select #dropdown formControlName="partyOrderId" placeholder="Party order">
                        <mat-option [value]="item.id" *ngFor="let item of orderList">{{item.partyOrder}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="Date" formControlName="chalanDate" placeholder="Select date">
                    <mat-datepicker-toggle matSuffix [for]="Date"></mat-datepicker-toggle>
                    <mat-datepicker #Date></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

<div class="row">
    <ng-container formArrayName="products">
        <ng-container *ngFor="let item of getProductsFormArry().controls; let i = index" [formGroupName]="i">
            <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Product Name</mat-label>
                    <input type="text" matInput  formControlName="productName" placeholder="Enter productName" >
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Quantity</mat-label>
                    <input type="number" matInput  formControlName="productQuantity"
                        onKeyPress="if(this.value.length==7) return false;" placeholder="Enter quantity" min="0">
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Product Price</mat-label>
                    <input type="number" matInput  formControlName="productPrice"
                        onKeyPress="if(this.value.length==7) return false;" placeholder="Enter price" min="0">
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100 m-t-10">
                    <mat-label>Chalan No</mat-label>
                    <input type="number" matInput  formControlName="productChalanNo" placeholder="Enter chalan" min="0">
                </mat-form-field>
            </div>
           
        </ng-container>
    </ng-container>
</div>
    </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions class="p-24 justify-content-end">
    <button mat-stroked-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-flat-button [mat-dialog-close]="true" color="primary" (click)="chalandata()">
{{action}}
    </button>
</mat-dialog-actions>