<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <mat-label>Order</mat-label>
          <input matInput placeholder="Search Order">
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button mat-flat-button color="primary" (click)="addDesign('Add', {})">
          Add Order
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Sr No</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="partyName">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Party Name
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ getPartyName(element.partyId) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="orderDate">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Order Date
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ convertTimestampToDate(element.orderDate) | date : "mediumDate" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="deliveryDate">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Delivery Date
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ convertTimestampToDate(element.deliveryDate) | date : "mediumDate" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="designNo">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Design
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.designNo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="p-Order">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            P-Order
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.partyOrder }}
          </td>
        </ng-container>

        <ng-container matColumnDef="chalanNo">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Chalan No
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element?.products[0]?.productChalanNo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Status
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            <div class="statustable" [ngClass]="{
                                  'pending-status': element.orderStatus === 'Pending',
                                  'in-progress-status': element.orderStatus === 'In Progress',
                                  'rejected-status': element.orderStatus === 'Rejected',
                                  'cancelled-status': element.orderStatus === 'Cancelled',
                                  'done-status': element.orderStatus === 'Done'
                                }">
              <span>
                {{ element.orderStatus }}
              </span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Action
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a class="m-r-10 cursor-pointer"><i-tabler name="edit" (click)="addDesign('Edit', element)"
                class="icon-18"></i-tabler></a>
            <a class="m-r-10 cursor-pointer">
              <i-tabler name="trash" (click)="addDesign('Delete', element)" class="icon-18"></i-tabler>
            </a>
            <a [matMenuTriggerFor]="menu">
              <i-tabler name="dots-vertical" class="icon-18"></i-tabler>
            </a>
            <mat-menu #menu="matMenu">
              <ng-container *ngFor="let status of stausList">
                <div *ngIf="element.orderStatus !== status" class="menu-item" [ngClass]="{
                        'pending-status': status === 'Pending',
                        'in-progress-status': status === 'In Progress',
                        'rejected-status': status === 'Rejected',
                        'cancelled-status': status === 'Cancelled',
                        'done-status': status === 'Done'
                      }">
                  <span (click)="changeStatus(status,element)">{{status}}</span><br>
                </div>
              </ng-container>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="orderColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: orderColumns"></tr>
        <tr class="mat-row" style="text-align: center;" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="orderColumns.length">
            No record found
          </td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>