<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">

      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <mat-label>Firm</mat-label>
          <input matInput placeholder="Search firm" (keyup)="applyFilter($any($event.target).value)">
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button mat-flat-button color="primary" (click)="openFirmMaster('Add', {})">
          Add Firm
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table style="min-width: 215%;" mat-table [dataSource]="firmMasterDataSource" class="w-100">

        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">SR No</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="header">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Header
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.header }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Subheader">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Sub Header
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.subHeader }}
          </td>
        </ng-container>

        <ng-container matColumnDef="GSTMo">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            GST No
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.GSTNo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="gst">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            GST%
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.gstPercentage }}
          </td>
        </ng-container>

        <ng-container matColumnDef="PanNo">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Pan No
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.panNo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="MobileNo">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Mobile No
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.mobileNO }}
          </td>
        </ng-container>

        <ng-container matColumnDef="PersonalMobileNo">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Personal Mobile No
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.personalMobileNo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Email
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.email }}
          </td>
        </ng-container>

        <ng-container matColumnDef="BankName">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Bank Name
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.bankName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="BankIFSC">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Bank IFSC
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.ifscCode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="BankAccountNo">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Bank AccountNo
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.bankAccountNo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Address">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Address
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.address }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Action
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a class="m-r-10 cursor-pointer"><i-tabler name="edit" (click)="openFirmMaster('Edit', element)"
                class="icon-18"></i-tabler></a>
            <a class="m-r-10 cursor-pointer">
              <i-tabler name="trash" (click)="openFirmMaster('Delete', element)" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="firmMasterColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: firmMasterColumns"></tr>
        <tr class="mat-row" style="text-align: center;" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="firmMasterColumns.length">
            No record found
          </td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>