<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">

      <div class="col-lg-3">
        <mat-label>Design Type</mat-label><br>
        <mat-radio-group [(ngModel)]="designType" (ngModelChange)="designTypeChanges()">
          <mat-radio-button [checked]='true' value="daman">Daman</mat-radio-button>
          <mat-radio-button value="choli">Choli</mat-radio-button>
          <mat-radio-button value="less">Less</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-lg-3">
        <ng-container *ngIf="designType !== 'choli'">
          <mat-label>Area Head</mat-label><br>
          <mat-radio-group [(ngModel)]="areaHead" (ngModelChange)="areaHeadChanges()">
            <mat-radio-button value="250">250</mat-radio-button>
            <mat-radio-button value="400">400</mat-radio-button>
          </mat-radio-group>
        </ng-container>
      </div>

      <div class="col-lg-3">
        <ng-container *ngIf="designType === 'choli' || designType === 'less'">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>No</mat-label>
            <input matInput [(ngModel)]="no" type="number" placeholder="Enter no">
          </mat-form-field>
        </ng-container>
      </div>

      <div class="col-lg-3">
        <div class="d-flex align-items-center m-t-10">
          <button class="w-100" mat-flat-button color="primary">
            Print
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row">

      <div class="col-lg-6">
        <table class="main-table">
          <thead>
            <tr>
              <th class="bg" colspan="2">Machine Stitches</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Stitches</td>
              <input class="input" [(ngModel)]="stitchesValue" (ngModelChange)="getFinalStitches()" type="number">
            </tr>
            <tr>
              <td>Head</td>
              <input class="input" [(ngModel)]="headValue" (ngModelChange)="getFinalStitches()" type="number"
                [ngClass]="{'disableBg': designType === 'choli'}" [disabled]="designType === 'choli'">
            </tr>
            <tr>
              <td></td>
              <td class="disableBg">{{ stitchesHeadTotal }}</td>
            </tr>
            <tr>
              <td>Final Stitches</td>
              <td class="disableBg">{{ finalStitches }}</td>
            </tr>
            <tr>
              <td>Price</td>
              <input class="input" [(ngModel)]="priceValue" (ngModelChange)="getPerMeter()" type="number">
            </tr>
            <tr>
              <td>Per/Meter</td>
              <td class="disableBg">{{ meterTotal }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-6">
        <table class="main-table">
          <tr>
            <td>Machine Stiches</td>
            <input [(ngModel)]="machineStichesValue" (ngModelChange)="getFrameDay()" class="input" type="number">
          </tr>
          <tr>
            <td>Design Stich</td>
            <td class="disableBg">{{ stitchesValue }}</td>
          </tr>
          <tr>
            <td>Frames/Day</td>
            <td class="disableBg">{{ framesDayTotal }}</td>
          </tr>
          <tr>
            <ng-container *ngIf="designType === 'choli'; else mtrFrame">
              <td>
                Peace/Frame
              </td>
            </ng-container>
            <ng-template #mtrFrame>
              <td>
                Mtr/Frame
              </td>
            </ng-template>
            <input class="input" [(ngModel)]="mtrFrameValue" (ngModelChange)="getFinalMeter()" type="number">
          </tr>
          <tr>
            <td>Final Meter</td>
            <td class="disableBg">{{ finalMeter }}</td>
          </tr>
          <tr>
            <td>Employee-Salary</td>
            <input class="input" [(ngModel)]="employeeSalaryValue" (ngModelChange)="getEmpSalartMt()" type="number">
          </tr>
          <tr>
            <td>Emp Salary/mt</td>
            <td class="disableBg">{{ empSalarymt }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row m-t-20">

      <div class="col-lg-12">
        <table class="main-table">
          <thead>
            <tr>
              <th class="bg" colspan="6">Design Estimate</th>
            </tr>
            <tr>
              <th>Name</th>
              <th style="width: 12%;">No</th>
              <th style="width: 12%;">Price</th>
              <th style="width: 12%;">Item</th>
              <th>Total</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of designEstimate">
              <td style="padding: 0;padding-left: 6px;">{{ item.name }}</td>
              <td style="padding: 0;"><input class="inputNo" type="number" [(ngModel)]="item.no"></td>
              <td style="padding: 0;"><input class="inputNo" type="number" [(ngModel)]="item.price"></td>
              <td style="padding: 0;"><input class="inputNo" type="number" [(ngModel)]="item.item"></td>
              <td class="disableBg">{{ designEstimateTotal(item) }}</td>
              <td class="disableBg">{{ designEstimateAmount(item) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <table class="main-table m-t-20">
      <thead>
        <tr>
          <th>Total</th>
          <th>Rs/Meter</th>
          <th>Cut %</th>
          <th>Tax Amt</th>
          <th>Total Price</th>
          <th>Net Profit</th>
          <th>Profit</th>
          <th>Final Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="thirdTabel bg">{{ getTotalAmount() }}</td>
          <td class="thirdTabel disableBg">{{ meterTotal }}</td>
          <td style="padding: 0; width: 12%;"><input style="text-align: center;" class="inputNo" type="number"
              [(ngModel)]="cut" (ngModelChange)="getFinalMeter()"></td>
          <td class="thirdTabel disableBg">{{ taxAmount }} </td>
          <td class="thirdTabel disableBg">{{ finalPrice }}</td>
          <td class="thirdTabel disableBg">{{ getNetProfit() }}</td>
          <td class="thirdTabel disableBg">{{ getProfitPercentage() }}</td>
          <td class="thirdTabel bg">{{ finalPrice }}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>