.cardWithShadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    border-radius: 8px;

    .p-24 {
        padding: 24px;
    }
}

.table-responsive {
    overflow-x: auto;
    margin-top: 10px;

    table {
        width: 100%;

        th.mat-header-cell {
            font-size: 16px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.87);
        }

        td.mat-cell {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.87);
        }

        .mat-row,
        .mat-header-row {
            align-items: center;
        }

        .mat-no-data-row {
            text-align: center;

            .mat-cell {
                padding: 16px;
            }
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;

    >[class*="col-"] {
        padding: 12px;
    }
}

.col-6,
.col-4 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.mat-paginator {
    margin-top: 16px;
    background: transparent;
}